* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #515076;
}

body {
  overlay: 0.5;
}

.bg-yellow {
  background-color: #ffff00;
}

.main-title {
  font-weight: 400;
  font-size: 70px;
  height: 78px;
  width: 846px;
  margin: 220px auto;
}


.buttons {
  width: 1110px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-style {
  padding-right: 1px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.cards-group {
  width: 1110px;
  height: 1191px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  justify-content: center;
  gap: 45px;
  position: relative;
}

.bg-flowers {
  position: absolute;
  background-image: url("/images/flowers.png");
  background-repeat: no-repeat;
  width: 790px;
  height: 697px;
  z-index: -1;
  top: 0;
  left: 398px;
}

.cards-group-item {
   list-style-type: none;
   width: 340px;
   height: 573px;
}

.card-container {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
  padding: 25px;
}

.product-category {
  font-size: 12px;
  width: 171px;
  height: 24px;
  color: #A5A3B9;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 5px;
}

.product-name {
  font-size: 20px;
  height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-description {
  width: 287px;
  height: 36;
  font-size: 13px;
  margin-bottom: 15px;
}

.product-compound {
  padding-left: 15px;
  list-style-type: circle;
}

.product-compound-item {
  margin-top: 5px;
}

.product-price-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 24px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
}

.product-price {
  font-size: 20px;
}

.product-cards-footer {
  width: 100%;
  background-color: #3A3A3A;
  margin: 20px auto 0;
}

.footer-containner {
  padding-top: 85px;
  padding-left: 84px;
  padding-right: 75px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  margin:auto;
  height: 147px;
}

.footer-heading {
  font-weight: 800;
  font-size: 28px;
  color: #FFFFFF;
}

.footer-line {
  width: 66px;
  height: 1px;
  background-color:#FFFFFF;
}

.footer-description {
  font-size: 18px;
  color: #FFFFFF;
  padding-top: 18px;
}

.subscribe {
  width: 477px;
  height: 103px;
}

.subscribe-heading {
  font-size: 24px;
  color: #FFFFFF;
  padding-left: 88px;
  margin-bottom: 13px;
}

.form {
  background-color: #FFFFFF;
  width: 477;
  height: 61px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 15px;
}

.email-input {
  border: none;
  outline: none;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
}

.subscribe-button {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.subscribe-line {
  width: 1px;
  height: 18px;
  background-color: #000000;
  margin-top: 21.5px;
  margin-left: 90px;
}

.registration-btn {
  border: none;
  border-radius: 10px;
  padding-left: 0;
  padding-bottom: 15px;
  background-color: #3A3A3A;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.footer-nav-title {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  padding-bottom: 23px;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-list-item {
  padding-bottom: 17.7px;
}

.nav-list-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}

.social-network-links {
  display: flex;
  padding-top: 44px;
}

.vkontakte-link {
  margin-left: 30.5px;
}

.adress {
  padding-top: 294px;
    display: flex;
  justify-content: center;
}

.footer-line {
  margin-left: 155px;
}

.adress-text {
  color: #FFFFFF;
  font-size: 18px;
  font-style: normal;
  padding-top: 33px;
  padding-bottom: 28px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c5c2c2;
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 10px;
  z-index: 1000;
}

.modal-showed {
  display: flex;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  z-index: +1;
}

.modal-close-btn {
  position: absolute;
  left: 374px;
  bottom: 471px;
  cursor: pointer;
  background-color: #757575;
  border: none;
  border-radius: 0 10px 0 10px;
  font-size: 22px;
  color: #000000;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 10px;
}

.reg-label {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  padding-top: 12px;
}

.reg-input {
  outline: none;
  border: none;
  height: 30px;
  width: 260px;
  font-size: 18px;
  color: #000000;
  border-radius: 5px;
}

.reg-submit-btn {
  background-color: #757575;
  border: none;
  border-radius: 5px;
  width: 260px;
  height: 35px;
  font-size: 18px;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer
}